<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/userinfo', user: @user %>
      <%= render 'users/newbook', books: @books, book: @newbook %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.get_image %>
              <%= link_to user_path(@book.user.id) do %>
                <p><%= @book.user.name %></p>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <p><%= @book.title %></p>
              <% end %>
            </td>
            <td>
              <p><%= @book.body %></p>
            </td>
            <% if @book.user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-sm btn-danger" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
